{% with tabtitle="Index" %}
{% include "head.html" %}
{% include "barra_nav.html" %}
<!-- Comprobar registro -->
<script type="text/javascript" src="js/comprobar_login.js"></script>
    <!-- ******************** HeaderWrap ********************-->
    <div id="headerblack">
      <header class="clearfix">
          <div class="container">
          <div class="row">
            <div class="span12">
              <h2>{{ mensaje }} {{ username }}.</h2>
              <a title="headerwrap" href="{{ url }}">Pulsa para continuar</a>
            </div>
          </div>
      </header>
    </div>
    {% include "pie.html" %}
{% endwith %}
