{% with tabtitle="Index" %}
{% include "head.html" %}
{% include "barra_nav.html" %}
    <!-- ******************** HeaderWrap ********************-->
    <div id="portfolio">
      <header class="clearfix">
        <div class="container">
    <!-- ****************** generador ******************-->
          <script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
          <div id="headerwhite">
          <h2>Generador de partitura v0.1</h2>
          <p></p>

          <button id='nota_do'>do</button>
          <button id='nota_re'>re</button>
          <button id='nota_mi'>mi</button>
          <button id='nota_fa'>fa</button>
          <button id='nota_sol'>sol</button>
          <button id='nota_la'>la</button>
          <button id='nota_si'>si</button>
          <button id='nota_doa'>do+</button>
          <button id='nota_rea'>re+</button>
          <button id='nota_mia'>mi+</button>
          <button id='nota_faa'>fa+</button>
          <button id='nota_sola'>sol+</button>
          <button id='nota_laa'>la+</button>
          <button id='nota_sia'>si+</button>
          <div class="borrar">
          <button id='nota_na'>espacio</button>
          <button id='borrar' >borrar todo</button>
        </div>
            <script id="jsbin-javascript">
            $('document').ready(function() {
              $('.span12').html($('.span12').html()+'<IMG SRC="img/pentagrama/keysol.png" WIDTH=73 HEIGHT=200>');

              $('#nota_do').click(function(env) {
                $('.span12').html($('.span12').html()+'<IMG SRC="img/pentagrama/do.png" WIDTH=25 HEIGHT=150>');
                $('#mem_post').val($('#mem_post').val()+'do ');
              });
  
              $('#nota_re').click(function(env) {
                $('.span12').html($('.span12').html()+'<IMG SRC="img/pentagrama/re.png" WIDTH=25 HEIGHT=150>');
                $('#mem_post').val($('#mem_post').val()+'re ');
              });

              $('#nota_mi').click(function(env) {
                $('.span12').html($('.span12').html()+'<IMG SRC="img/pentagrama/mi.png" WIDTH=25 HEIGHT=150>');
                $('#mem_post').val($('#mem_post').val()+'mi ');
              });

              $('#nota_fa').click(function(env) {
                $('.span12').html($('.span12').html()+'<IMG SRC="img/pentagrama/fa.png" WIDTH=25 HEIGHT=150>');
                $('#mem_post').val($('#mem_post').val()+'fa ');
              });

              $('#nota_sol').click(function(env) {
                $('.span12').html($('.span12').html()+'<IMG SRC="img/pentagrama/sol.png" WIDTH=25 HEIGHT=150>');
                $('#mem_post').val($('#mem_post').val()+'sol ');
              });

              $('#nota_la').click(function(env) {
                $('.span12').html($('.span12').html()+'<IMG SRC="img/pentagrama/la.png" WIDTH=25 HEIGHT=150>');
                $('#mem_post').val($('#mem_post').val()+'la ');
              });

              $('#nota_si').click(function(env) {
                $('.span12').html($('.span12').html()+'<IMG SRC="img/pentagrama/si.png" WIDTH=25 HEIGHT=150>');
                $('#mem_post').val($('#mem_post').val()+'si ');
                $('#mem_post').val($('#mem_post').val()+'si ');
              });

              





              $('#nota_doa').click(function(env) {
                $('.span12').html($('.span12').html()+'<IMG SRC="img/pentagrama/do+.png" WIDTH=25 HEIGHT=150>');
                $('#mem_post').val($('#mem_post').val()+'do+ ');
              });
  
              $('#nota_rea').click(function(env) {
                $('.span12').html($('.span12').html()+'<IMG SRC="img/pentagrama/re+.png" WIDTH=25 HEIGHT=150>');
                $('#mem_post').val($('#mem_post').val()+'re+ ');
              });

              $('#nota_mia').click(function(env) {
                $('.span12').html($('.span12').html()+'<IMG SRC="img/pentagrama/mi+.png" WIDTH=25 HEIGHT=150>');
                $('#mem_post').val($('#mem_post').val()+'mi+ ');
              });

              $('#nota_faa').click(function(env) {
                $('.span12').html($('.span12').html()+'<IMG SRC="img/pentagrama/fa+.png" WIDTH=25 HEIGHT=150>');
                $('#mem_post').val($('#mem_post').val()+'fa+ ');
              });

              $('#nota_sola').click(function(env) {
                $('.span12').html($('.span12').html()+'<IMG SRC="img/pentagrama/sol+.png" WIDTH=25 HEIGHT=150>');
                $('#mem_post').val($('#mem_post').val()+'sol+ ');
              });

              $('#nota_laa').click(function(env) {
                $('.span12').html($('.span12').html()+'<IMG SRC="img/pentagrama/la+.png" WIDTH=25 HEIGHT=150>');
                $('#mem_post').val($('#mem_post').val()+'la+ ');
              });

              $('#nota_sia').click(function(env) {
                $('.span12').html($('.span12').html()+'<IMG SRC="img/pentagrama/si+.png" WIDTH=25 HEIGHT=150>');
                $('#mem_post').val($('#mem_post').val()+'si+ ');
              });                

              $('#nota_na').click(function(env) {
                $('.span12').html($('.span12').html()+'<IMG SRC="img/pentagrama/na.png" WIDTH=25 HEIGHT=150>');
                $('#mem_post').val($('#mem_post').val()+'na ');
              });                


              $('#borrar').click(function(env) {
                $('.span12').html($('.span12').html()-'<p>re</p>');
                $('#mem_post').val($('#mem_post').val()-'re');
                $('.span12').html($('.span12').html()+'<IMG SRC="img/pentagrama/keysol.png" WIDTH=73 HEIGHT=200>');
              });
            });
          </script>
      <div class="row">
      <form id="generador" action="" method="POST">
          {% csrf_token %}
          <div class="span12">
          </div>
          <input id="mem_post" class="mem_post" type="radio" name="mem_post" value="" checked>
          <p></p>
          <p></p>
          <input type="text" name="titulo-part" id="titulo-part" placeholder="Titulo partitura" class="cform-text" size="40" title="titulo-part" maxlength="30">
          <p></p>
          <input type="submit" value="Enviar" class="cform-submit">
    </form>
    </div>
      </header>

      <!-- ****************** generador ******************-->
    </div>
{% include "pie.html" %}
{% endwith %}