{% with tabtitle="Index" %}
{% include "head.html" %}
{% include "barra_nav.html" %}
<!-- Comprobar registro -->
<script type="text/javascript" src="js/comprobar_registro.js"></script>
    <!-- ******************** HeaderWrap ********************-->
    <div id="headerblack">
      <header class="clearfix">
          <div class="container">
          <div class="row">
            <div class="span12">
              {% block content %}
              <h2>Perfil: {{ user }}</h2>
              <a title="headerwrap" href="/uploads/">Subir imagen de perfil</a>
              {% if select_partitura %}
                <h1 id="folio-headline">Partituras</h1>
                  {% for partitura in select_partitura %}
                    <h3><a title="headerwrap" href="/partitura/{{ partitura.id }}">{{ partitura.nombre }}</a></h3>
                    <p></p>
                  {% endfor %}
              {% else %}
                  <h2>No se encontraron partituras</h2>
                {% endif %}
              {% endblock %}
            </div>
          </div>
      </header>
    </div>
{% include "pie.html" %}
{% endwith %}
