{% with tabtitle="Index" %}
{% include "head.html" %}
{% include "barra_nav.html" %}
{% endwith %}
<!-- Comprobar registro -->
<script type="text/javascript" src="js/comprobar_registro.js"></script>
    <!-- ******************** HeaderWrap ********************-->
    <div id="headerblack">
      <header class="clearfix">
          <div class="container">
          <div class="row">
            <div class="span12">
              {% block content %}
              <h2>{{ user.username }}</h2>
              {% endblock %}
            </div>
          </div>
      </header>
    </div>
    <hr>
    <div class="footer-wrapper">
      <div class="container">
        <footer>
          <small>&copy; 2015 Breeze By: Tedezed.</small>
        </footer>
      </div>
      <!-- ./container -->
    </div>
    <!-- Loading the javaScript at the end of the page -->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="js/site.js"></script>
    
    <!--ANALYTICS CODE-->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29231762-1']);
    _gaq.push(['_setDomainName', 'dzyngiri.com']);
    _gaq.push(['_trackPageview']);
  
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
    </body>
    </html>
