{% with tabtitle="Index" %}
{% include "head.html" %}
{% include "barra_nav.html" %}
    <!-- ******************** HeaderWrap ********************-->
    <div id="headerwrap">
      <header class="clearfix">
        <h1><span>Breeze</span> Compone y Comparte</h1>
        <div class="container">
          <div class="row">
            <div class="span12">
              <h2><a href="/es">Procesar o Añadir Sonido</a>|<a href="/buscar">Buscar </a></h2>
              <form id="search_form" action="/procesar" method="post">
              <input type="text" name="titulo" placeholder="Artista - Titulo de Canción ..." class="cform-text" size="40" title="titulo">
              <p></p>
              <textarea name="entrada" rows="3" cols="30" placeholder="Notas Musicales... Ej: mi fa sol la si do re" class="cform-text" size="40" title="entrada"></textarea>
              <p></p>
              <input type="checkbox" name="ok_compartir" value="ok_compartir"> Añadir a Breeze<br>
              <p></p>
              <input type="submit" value="Procesar" class="cform-submit">
              </form>
            </div>
          </div>
          <div class="row">
            <div class="span12">
              <ul class="icon">
                <li><a href="https://twitter.com/Zerrotajo" target="_blank"><i class="icon-twitter-circled"></i></a></li>
                <li><a href="http://www.google.com/intl/es_ALL/+/learnmore/" target="_blank"><i class="icon-gplus-circled"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
    </div>
{% include "pie.html" %}
{% endwith %}
