{% with tabtitle="Index" %}
{% include "head.html" %}
{% include "barra_nav.html" %}
<!-- Comprobar registro -->
<script type="text/javascript" src="js/comprobar_registro.js"></script>
    <!-- ******************** HeaderWrap ********************-->
    <div id="headerblack">
      <header class="clearfix">
          <div class="container">
          <div class="row">
            <div class="span12">
              <h2>Registro</h2>
              {% block content %}
              {% if form.errors %}
                <p>Errores</p>
                <p>{{ form.errors }}</p>
                <p>Errores</p>
              {% endif %}
              <form id="search_form" action="" method="POST" onSubmit="return validarPasswd()">
              {% csrf_token %}
              <input type="text" name="username" id="user" placeholder="Nombre de usuario" class="cform-text" size="40" title="username" maxlength="30">
              <p></p>
              <input type="password" name="password1" id="clave1" placeholder="Contraseña" class="cform-text" size="40" title="password">
              <p></p>
              <input type="password" name="password2" id="clave2" placeholder="Repite la contraseña anterior" class="cform-text" size="40" title="password">
              <p></p>
              <input type="text" name="email" id="email" placeholder="Correo electronico" class="cform-text" size="40" title="email" maxlength="30">
              <p></p>
              <input type="submit" value="Crear usuario" class="cform-submit">
              </form>
              {% endblock %}
            </div>
          </div>
      </header>
    </div>
{% include "pie.html" %}
{% endwith %}
