{% with tabtitle="Index" %}
{% include "head.html" %}
{% include "barra_nav.html" %}
<!-- Comprobar registro -->
<script type="text/javascript" src="js/comprobar_registro.js"></script>
    <!-- ******************** HeaderWrap ********************-->
    <div id="headerblack">
      <header class="clearfix">
          <div class="container">
          <div class="row">
            <div class="span12">
              {% block content %}
              <h3>{{ tipo }}</h3>
              <p></p>
              <form action="/uploads/" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" value="Subir">
              </form>
              {% endblock %}
            </div>
          </div>
      </header>
    </div>
{% include "pie.html" %}
{% endwith %}
